/* basic layout */
.html, body {
	height: 100%;
	width: 100%;
	background: dodgerblue;
}
#facegrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 135px);
	max-width: 85%;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.mediumgrid {
	grid-template-columns: repeat(auto-fill, 190px) !important ;
	gap: 5px !important ;
}
.largegrid {
	grid-template-columns: repeat(auto-fill, 240px) !important ;
	gap: 10px !important ;
}

.face {
	background: #ffca46;
	width: 110px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
	padding: 7px;
	font-size: medium;
	transition: 0.3s;
}
.face img {
	width: 100px;
	height: 100px;
	border-radius: 15px;
	margin-top: 5px;
	transition: 1s;
}
.face p {
	display: inline;
}
.mediumface {
	width: 165px;
	font-size: large;
}
.mediumface img {
	width: 155px;
	height: 155px;
}
.largeface {
	width: 215px;
	font-size: x-large;
}
.largeface img {
	width: 205px !important;
	height: 205px !important;
}


/* overlay 1 */
#guess_button {
	z-index: 1;
	position: fixed;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.35);
	left: 50px;
	bottom: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
	border: 0 solid #000;
	font-size: 28px;
	font-weight: bold;
	color: white;
	background-color: red;
	transition: 0.3s;
}
.menu {
	z-index: 1;
	position: fixed;
    display: none;
    background-color: white;
	width: 150px; /* Set a fixed width */
    height: auto; /* Allow the height to adjust to the content */
    flex-direction: column; /* Change the direction of the flex container to column */
	border: 2px solid dimgrey;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.menu ul {
    list-style: none; /* Remove the bullet points */
    padding: 0; /* Remove the padding */
    margin: 0; /* Remove the margin */
    display: flex; /* Make the <ul> a flex container */
    flex-direction: column; /* Change the direction of the flex items to column */
	border-radius: inherit;
}
.menu li {
	display: block;
	font-size: 16px;
	padding: 5px;
    text-align: center; /* Center the text */
	position: relative;
	border-radius: 5px;
	padding: 10px;
	position: relative;
}
.menu .sub-menu {
    display: none; /* Hide the sub-menu by default */
    position: absolute; /* Position the sub-menu relative to the parent li */
	width: 150px;
    left: 100%; /* Position the sub-menu to the right of the parent li */
	background-color: white;
	height: auto; /* Allow the height to adjust to the content */
	border: 2px solid dimgrey;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.menu li:hover {
	border-radius: 10px;
}
.menu li:hover .sub-menu {
    display: block; /* Show the sub-menu when the parent li is hovered */

}

/* mobile sidebar */
.sidebar {
	background-color: #f1f1f1;
	width: 100%;
	height: 100%;
	position: fixed;
	left: -100%;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	transition: all 0.5s ease-in-out;
}
.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sub-sidebar {
	display: none;
}
.sidebar li {
	font-size: 18px;
	margin-bottom: 10px;
}
.sidebar li a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 10px;
}
.sidebar li a:hover {
	background-color: #ddd;
}
.sidebar ul ul li {
	font-size: 14px;
	margin-bottom: 0;
}
.sidebar li.parent_item > a::before {
	content: "";
	display: inline-block;
	border: solid black;
	border-width: 0 2px 2px 0;
	padding: 3px;
	transform: rotate(-45deg);
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
}
.sidebar li.parent_item.active > a::before {
	transform: rotate(45deg);
}
.show-submenu {
	display: block;
}


/* overlay 2 */
#correct_screen {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: limegreen;
	height: 100%;
	width: 100%;
	transition: opacity 2s ease-in-out !important;
	display: flex;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	opacity: 1;
}
#wrong_screen {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: red;
	height: 100%;
	width: 100%;
	transition: opacity 1.5s ease-in-out !important;
	display: flex;
	visibility: hidden;
	align-items: center;
	justify-content: center;
}


/* animations */
.menu li:hover {
	background-color: #d9d9d9;
}
.sidebar-hidden {
	transform: translateX(-200px);
}
#guess_button:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.facegrid {
	transition: grid-template-columns 0.5s;
}
.face {
	transition: width 1s, height 1s, opacity 1s, box-shadow 0.1s;
}
.face:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* adaptivity */
@media (max-width: 600px) {
	.facegrid {
		max-width: 100%;
	}
}
div {
	display:inline;
}