/* basic layout */
.html, body {
	height: 100%;
	width: 100%;
	background: dodgerblue;
}
#facegrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 135px);
	max-width: 85%;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.mediumgrid {
	grid-template-columns: repeat(auto-fill, 190px) !important ;
	gap: 5px !important ;
}
.largegrid {
	grid-template-columns: repeat(auto-fill, 240px) !important ;
	gap: 10px !important ;
}

.face {
	background: #ffca46;
	width: 110px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
	padding: 7px;
	font-size: medium;
	transition: 0.3s;
}
.face img {
	width: 100px;
	height: 100px;
	border-radius: 15px;
	margin-top: 5px;
	transition: 1s;
}
.face p {
	display: inline;
}
.mediumface {
	width: 165px;
	font-size: large;
}
.mediumface img {
	width: 155px;
	height: 155px;
}
.largeface {
	width: 215px;
	font-size: x-large;
}
.largeface img {
	width: 205px !important;
	height: 205px !important;
}


/* overlay 1 */
#guess_button {
	z-index: 1;
	position: fixed;
	left: 50px;
	bottom: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
	border: 1px solid #000;
}
.menu {
	z-index: 1;
	position: fixed;
    display: none;
    background-color: white;
	width: 100px; /* Set a fixed width */
    height: auto; /* Allow the height to adjust to the content */
    flex-direction: column; /* Change the direction of the flex container to column */
    border: 1px solid gray;
}
.menu ul {
    list-style: none; /* Remove the bullet points */
    padding: 0; /* Remove the padding */
    margin: 0; /* Remove the margin */
    display: flex; /* Make the <ul> a flex container */
    flex-direction: column; /* Change the direction of the flex items to column */
}
.menu li {
	display: block;
	font-size: 16px;
    padding: 10px; /* Add some padding */
    text-align: center; /* Center the text */
}
.menu .sub-menu {
    display: none; /* Hide the sub-menu by default */
    position: absolute; /* Position the sub-menu relative to the parent li */
    background-color: white;
    border: 1px solid gray;
	width: 150px;
    bottom: -1px; /* Position the sub-menu at the top of the parent li */
    left: 100%; /* Position the sub-menu to the right of the parent li */
}
.menu li:hover .sub-menu {
    display: block; /* Show the sub-menu when the parent li is hovered */
}

/* overlay 2 */
#correct_screen {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: limegreen;
	height: 100%;
	width: 100%;
	transition: opacity 1s ease-in-out !important;
	display: flex;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	opacity: 1;
}
#wrong_screen {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: red;
	height: 100%;
	width: 100%;
	transition: 2s;
	display: none;
	align-items: center;
	justify-content: center;
}


/* animations */
.menu li:hover {
	background-color: #d9d9d9;
}
.facegrid {
	transition: grid-template-columns 0.5s;
}
.face {
	transition: width 1s, height 1s, opacity 1s, box-shadow 0.1s;
}
.face:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* adaptivity */
@media (max-width: 600px) {
	.facegrid {
		max-width: 100%;
	}
}
div {
	display:inline;
}